.page-loader {

  position: fixed;

  inset: 0;

  background: transparent;

  z-index: 999999;

  display: flex;

  align-items: center;

  justify-content: center;

  animation:
    loaderFade 0.6s ease;
  animation:
    loaderFadeOut 0.5s ease forwards;
}

/* VIDEO */

.loader-svg {

  width: 350px;
  background: transparent;

  mix-blend-mode: multiply;
}

/* FADE IN */

@keyframes loaderFade {

  from {

    opacity: 0;
  }

  to {

    opacity: 1;
  }
}
@keyframes loaderFadeOut {

  0% {

    opacity: 1;
  }

  70% {

    opacity: 1;
  }

  100% {

    opacity: 0;
  }
}
@media (max-width: 768px) {

  .loader-svg {

    width: 280px;
    background: transparent;
  }
}